@font-face {
    font-family: riffic;
    src: url(../assets/RifficFree-Bold.ttf);
}

.login-label{
    margin-top: 4.5%;
    font-family: Riffic!important;
}
.input-field::placeholder{
    color: black;
    font-weight: 700;
    font-size: small;
}
.input-field:focus{
    background-color: #EBEBEB !important;
    border: none;
    outline: none;
    box-shadow: none;
}